# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

.env
config.json

# Build-Artefakte
dist/
build/
*.js
*.js.map
*.d.ts

# Editor / IDE-spezifische Dateien
.vscode/
.idea/
# Vim swap files
*.swp
# Backup files
*.bak
*.log

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

