name: Release

on:
  workflow_dispatch: # Ermöglicht die manuelle Ausführung der Action über die GitHub UI

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest # Das Betriebssystem, auf dem der Job ausgeführt wird
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get current version from package.json
        id: get_version
        run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ steps.get_version.outputs.PACKAGE_VERSION }}"
          generate_release_notes: true
          draft: false
          prerelease: false
          make_latest: true
